html, body {
    height: 100%;
}
body {
    margin: 0;
}

button {
    margin-right: -5px;
}

input {
    color:white
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: #313131;
}

.flex-content {
    display: flex;
    flex-direction: column;

    height: 70%;
    width: 80%;
}

#text-field {
    height: 100%;
    width: 100%;
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;

    word-wrap: break-word;
    overflow-y: auto;

    background-color: white;
}

.buttons-container {
    background-color: #525252;    
}

